[Desktop Entry]
Encoding=UTF-8
Name=Link to Google Translate
Type=Link
URL=https://translate.google.fr/?hl=en
Icon=text-html
Name[en_US]=english_Google Translate
