[Desktop Entry]
Encoding=UTF-8
Name=Link to Facebook (NIPS) - Network analysis of Facebook (NIPS) - KONECT
Type=Link
URL=http://konect.uni-koblenz.de/networks/ego-facebook
Icon=text-html
Name[en_US]=dataset3
