[Desktop Entry]
Encoding=UTF-8
Name=Link to اللقطات المحذوفة من بيبيش و بيبيشة - إضحك مع ممثلين مروان و سهيلة - YouTube
Type=Link
URL=https://www.youtube.com/watch?v=5HnXVQE1shI
Icon=text-html
Name[en_US]=gag
