[Desktop Entry]
Encoding=UTF-8
Name=Link to Git Push to USB - Blog 1
Type=Link
URL=https://vincenttam.github.io/blog/2015/01/01/git-push-to-usb/
Icon=text-html
Name[en_US]=Git Push to USB - Blog 1
