[Desktop Entry]
Encoding=UTF-8
Name=Link to M1-ARES-CalendrierEnseignant2018 - Google Sheets
Type=Link
URL=https://docs.google.com/spreadsheets/d/1ABUqwQLrIywo2IRS7cWTIZM6nET7EgPeoSdU0x6dfKU/edit?usb=sharing#gid=0
Icon=text-html
Name[en_US]=UPMC calendar 2
