[Desktop Entry]
Encoding=UTF-8
Name=Link to CalDavZAP [student.master]
Type=Link
URL=https://cal.ufr-info-p6.jussieu.fr/master/
Icon=text-html
Name[en_US]=UPMC  calendar
