[Desktop Entry]
Encoding=UTF-8
Name=Link to Convertisseur Youtube Mp3 | Mp3 youtube
Type=Link
URL=https://mp3-youtube.download/fr
Icon=text-html
Name[en_US]=Youtube Mp3
