[Desktop Entry]
Encoding=UTF-8
Name=Link to UCI Network Data Repository
Type=Link
URL=https://networkdata.ics.uci.edu/
Icon=text-html
Name[en_US]=dataset4
