[Desktop Entry]
Encoding=UTF-8
Name=Link to Stanford Large Network Dataset Collection
Type=Link
URL=https://snap.stanford.edu/data/
Icon=text-html
Name[en_US]=dataset2
