[Desktop Entry]
Encoding=UTF-8
Name=Link to Free Online Animated GIF Maker - Make GIF Images Easily
Type=Link
URL=http://gifmaker.me/
Icon=text-html
Name[en_US]=GIF
