[Desktop Entry]
Encoding=UTF-8
Name=Link to Tutoriel Git : Apprendre à faire des dépôts distants sans accès réseau
Type=Link
URL=https://xebia.developpez.com/tutoriels/git/depot-dossier-sans-acces-reseau/
Icon=text-html
Name[en_US]=Git usb
