[Desktop Entry]
Encoding=UTF-8
Name=Link to Hans Zimmer - Time (Pen Perry Remix) - YouTube
Type=Link
URL=https://www.youtube.com/watch?v=Gdg5HqX_vZE
Icon=text-html
Name[en_US]=Music
