[Desktop Entry]
Encoding=UTF-8
Name=Link to #caliopdev — The Lounge
Type=Link
URL=https://chat.bruit-contraire.net/#chan-29
Icon=text-html
Name[en_US]=TheLounge
