[Desktop Entry]
Encoding=UTF-8
Name=Link to Yamli - Moteur de Recherche Arabe et Clavier Arabe Intelligent
Type=Link
URL=https://www.yamli.com/fr/
Icon=text-html
Name[en_US]=Yamli
